.profile-head {
    transform: translateY(5rem);
    background-color: #eee;
    border-radius: 0.4rem;
    padding: 5px 3px 3px 12px;
    color: black !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .05)
}

.cover {
    /* background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80); */
    background-size: cover;
    background-color: #19875450;
    background-position: center;
    background-repeat: no-repeat;
}
.profile{
    display: flex;
    align-items: start;
    margin: 2px;
    height: 100%

}
.mentor-title{
    width: 50%;
}
.media-body{
  display: flex;
}


.edit-send ,.booking {
    background-color: #118577 !important;
    color: white !important;
    border: none;
    box-shadow: 0 3px 10px rgba(17, 133, 119, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    cursor: pointer;
    appearance: none;
    border-radius: .375rem;
    border-width: 0;
    border-color: transparent;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-color: #118577;
    color: white;

  }
  
  .edit-send,.booking:hover {
    background-color: #0d6e5c !important;
    color: white !important;
  }

  .form-control ,.form-select{
    width: 100%;
    color: #495057;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    border: 2px solid #e9ecef;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.071);
    cursor: pointer;
    appearance: none;
    border-radius: .375rem;
    border-width: 0;
    border-color: transparent;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .form-select:hover, .form-select:focus, .form-select:active {
    color: #495057;
    background-color: white;
    border-color: #118577;
    outline: none;
    box-shadow: 0 0 0 3px rgba(17, 133, 119, 0.2);
  }
  .options:hover, option:focus, option:active {
    color: #495057;
    background-color: white;
    border-color: #118577;
    outline: none;
    box-shadow: 0 0 0 3px rgba(17, 133, 119, 0.2);
  }
  
  .form-control:focus {
    border-color: #118577;
    outline: none;
    box-shadow: 0 0 0 3px rgba(17, 133, 119, 0.2);
  }
  form{
    background-color: #eeeeee3b;
  }


  /* =================================== */


  .card {
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    border-radius: 1rem;
    height: 100%;
    border: solid 2px  rgb(203 213 225 / 1);
  }
  .card-header {
    border-bottom: 1px solid #f2f3f3;
    border-radius: 8px 8px 0 0 !important;
    padding: 10px 15px;
  }
  .card-body {
    padding: 15px;
  }
  .info-label {
    font-weight: 600;
    color:rgb(15 23 42 / 1)!important    ;
    font-size: 0.85rem;
    margin-bottom: 2px;

  }
  .description-box {
    background-color: #f8f9fa;
    border-radius: 6px;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9rem;
    max-height: 100px;
    overflow-y: auto;
  }
  .badges {
    font-size: 2rem;
    padding: 5px 8px;
    color: black !important;
  }
  .icon-text {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
  }
  .icon-text i {
    margin-right: 5px;
    color: #198754;
  }
  .card-title {
    font-size: 1.3rem;
    font-weight: 600 !important;
  }
  .price-badge,  .st-r{
    font-weight: 600;
    font-size: 1.2rem !important;
    color: #198754  !important;
  }
  .features-badge {
    background-color: #d7f7f1;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    margin-right: 5px;
    color: rgb(100 116 139 / 1) !important;


  }
  .features-nbadge {
    background-color: #f7d7d7;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    margin-right: 5px;
    color: rgb(100 116 139 / 1) !important;


  }


  /* ============ */
  .list-skills,.skill{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: .5rem;
    margin-right: .25rem;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 100px;
    background-color: rgb(243 244 246 / 1);
    font-weight: 500;
    color: rgb(55 65 81 /1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms;

  }
.skill{
  padding-left: 0.05rem;
  padding-right: 0.05rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;

}
.skill,.list-skills:hover{
  background-color: #d7f7f1;


}