.device-settings-custom {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 400px;
}

.device-settings-custom select {
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.device-settings-custom button {
  background-color: #444;
  border: none;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
}

a {
  text-decoration: none !important;
  color: black;
}


.frist-color {
  color: #118577;
}

.second-color {
  color: #172E59;
}

.card-bacpro {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(145deg, transparent 35%, #118577, #ffffff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transform-origin: top bottom;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}